.forecast-card {
  background-color: #17265c;
  background: linear-gradient(
    360deg,
    rgba(1, 24, 78, 0.444) 15.42%,
    rgba(1, 37, 97, 0.462) 54.1%,
    rgba(0, 29, 87, 0.45) 92.97%
  );
  width: 450px;
  height: 22rem;
  border-radius: 10px;
  padding: 1rem;
}

.forecast-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 1.6rem;
}

.days {
  border-bottom: 1px solid white;
}

.divided {
  display: flex;
  align-items: center;
}

.divider {
  flex-grow: 1;
  border-bottom: 5px solid #b7ff7e;
  margin: 5px;
  width: 100px;
}

/*media query*/
@media screen and (max-width: 912px) {
  .forecast-card {
    width: 200px;
  }

  img {
    height: 20px;
    width: 20px;
  }

  .divider {
    width: 50px;
  }
}

/*media query*/
@media screen and (max-width: 768px) {
  .forecast-card {
    width: 300px;
  }

  img {
    height: 20px;
    width: 20px;
  }
}
