@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background-color: #e5e5e5;
  /* background-image: linear-gradient(
    rgba(1, 43, 105, 0.52),
    rgba(1, 37, 97, 0.72),
    #00235d
  ); */
  background-image: linear-gradient(
    0.08deg,
    rgba(1, 43, 105, 0.52) 7.94%,
    rgba(1, 37, 97, 0.72) 47.74%,
    #00235d 80.02%
  );
  color: #fff;
}

/*app*/
.app {
  margin: 5rem;
}

.app-detail {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  margin-top: 3rem;
}

/*media query*/
@media screen and (max-width: 768px) {
  .app-detail {
    flex-direction: column;
    gap: 1rem;
  }
}
